
.topic-box {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-bottom: gray 2px solid;
  border-left: gray 2px solid;
  border-right: gray 2px solid;
  background-color: rgba(255, 232, 127, 0.164);
  height: 50%;
  width: 90%;
  margin: 0 auto;

}

.main-box {
  display: grid;
  grid-template-columns: 50% 50%;
  border: gray 2px solid;
  width: 90%;
  background-color: #7c795d15;
  /* centers the page at margin 0 auto */
  /* auto divides up the left and right side of the page */
  margin: 0 auto;
}

#main-heading{
  /* margin-left: 50%; */
  text-align: center;
  color: #7c795d; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 38px; font-weight: 600; 
}
#equality, #political, #privacy, #freedom{
  border-right: solid 1px gray;
  text-align: center;
  color: #7c795d; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 15px; 
  font-weight: 100;
}
#disability{
  /* cannot take another border-right as the above as it renders the particular box to appear to have two borders instead of one */
  text-align: center;
  color: #7c795d; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 15px; 
  font-weight: 100;
}

#equality-image{
  height: 100%;
  width: 95%;
  padding:1px;
}
#privacy-image{
  height: 100%;
  width: 95%;
  padding:1px;
}
#disability-image{
  height: 100%;
  width: 95%;
  padding:1px;
}
#freedom-image{
  height: 100%;
  width: 95%;
  padding:1px;
}

.poli-image{
  height: 100%;
  width: 95%;
  padding:1px;
}


#disability-heading, #freedom-heading, #political-heading, #privacy-heading, #disability-heading, #equality-heading{
 
  text-align: center; 
  color: #7c795d; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 34px; 
  font-weight: medium; margin: 10px;

}
#freedom-subheading, #disabiltiy-subheading, #political-subheading, #equality-subheading, #privacy-subheading{

  font-size: x-large; 
  font-weight: 900; 
  font-family: 'Lusitana', serif;
  color: #f3a813; 
}

#paragraph-1, #paragraph-2{
 
   color: #4c4a37; 
   font-family: Georgia, 'Times New Roman', Times, serif; font-size: 21.5px; font-weight: 500;
}


/* Reference : https://wdexplorer.com/20-examples-beautiful-css-typography-design/ */