.main-poli-box{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    /* needs a measurement and a type */
    border: 2px solid;
    border-color: black;
    background-color: rgba(0, 255, 255, 0.116);
}

.poli-image{
    height: 100%;
    width: 95%;
}

.kev-title-politic{
    font-size: 34pt;
}

#side-pg-div{
    font-family: 'Lusitana', serif;
    font-size: xx-large;
}

#kev-paragraph{
    font-size: large;
}
